dd {
    margin-left: 2em;

    // dl {
    //     margin-bottom: 0.5em;
    // }
}

.field-list > dt {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: $accent-background;
    color: $accent-foreground;
    border-left: 0.25em solid $accent-foreground;

    .property {
        margin-right: 0.5em;
    }
}

// Add extra space before each major section, e.g.
// a function, method, property, class, etc.
// but not the first of those.
.py:not(:first-of-type) {
    margin-top: 1em;
}

.method {
    background: $highlight-background;
    padding-bottom: 0.25em;
}

.sig {
    background: $secondary-background;
    color: $secondary-foreground;
    padding: 0.5em;
    margin-bottom: 0.5em;

    .property {
        margin-right: 0.5em;
    }
}