header {
    padding-top: 2em;
    display: flex;

    a#menu-toggle {
        display: none;
        opacity: 1;
        font-size: 32px;
        cursor: pointer;

        &.toggled {
            color: $accent-background;
        }
    }

    #logo-container {
        width: 300px;
        padding-left: 2em;
        display: flex;
        align-items: center;

        @media screen and (max-width: $max-width-medium) {
            width: 250px;
        }

        @media screen and (max-width: $max-width-small) {
            width: 100%;
            padding: 0;
            display: block;
        }

        img {
            height: 60px;
        }
    }

    #project-container {
        padding: 0em 2em;
    }

    @media screen and (max-width: $max-width-small) {
        text-align: center;
        display: block;

        a#menu-toggle {
            // inline display shows the menu toggler, as opposed to none.
            // We don't use block as that extends the entire width of the page.
            display: inline;
            // Pad to the size a little bit, as we want the clickable area
            // and the corresponding underline to be a bit wider.
            padding: 0em 0.25em;
        }
    }
}
